<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 配置对象 -->
	<!-- 采用构造方法的方式创建bean -->
	<bean id="e1" class="com.icss.bean.Employee">
		<constructor-arg name="eid" value="10"></constructor-arg>
		<constructor-arg name="ename" value="张三"></constructor-arg>
		<constructor-arg name="esalary" value="500"></constructor-arg>
	</bean>
	<!--通过实例工厂构建bean-->
	<bean id="factory1" class="com.icss.factory.Employee1Factory">
	</bean>
	<bean id="e2" factory-bean="factory1" factory-method="create1Employee">
	</bean>

	<!--通过静态工厂-->
	<!--通过静态工厂构建bean-->
	<bean id="e3" class="com.icss.factory.Employee2Factory" factory-method="create2Employee">
	</bean>

</beans>
